services:
  shepherd_server:
    container_name: shepherd_server
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-supersecretpassw0rd}
    build:
      context: .
      dockerfile: shepherd_server/Dockerfile
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env
    ports:
      - '5439:5439'
  shepherd_db:
    container_name: shepherd_db
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-supersecretpassw0rd}
    build:
      context: .
      dockerfile: shepherd_db/Dockerfile
    ports:
      - "5432:5432"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres"]
      interval: 2s
      timeout: 2s
      retries: 5
    volumes:
      - ./pgdata:/var/lib/postgresql/data
  shepherd_broker:
    container_name: shepherd_broker
    build:
      context: .
      dockerfile: shepherd_broker/Dockerfile
    ports:
      - "6379:6379"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./data:/data
  shepherd_broker_insight:
    image: redislabs/redisinsight:latest
    container_name: redis-insight
    restart: unless-stopped
    ports:
      - '5540:5540'
    volumes:
      - ./data/redisinsight:/db
  jaeger:
    image: jaegertracing/all-in-one:1.55
    ports:
      - "16686:16686" # UI
      - "4317:4317" # OTLP gRPC
      - "6381:6381/udp" # Agent UDP (Jaeger native)
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      - LOG_LEVEL=error


  ########## Shared Workers
  merge_message:
    container_name: merge_message
    build:
      context: .
      dockerfile: workers/merge_message/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env
  sort_results_score:
    container_name: sort_results_score
    build:
      context: .
      dockerfile: workers/sort_results_score/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env
  filter_results_top_n:
    container_name: filter_results_top_n
    build:
      context: .
      dockerfile: workers/filter_results_top_n/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env
  filter_kgraph_orphans:
    container_name: filter_kgraph_orphans
    build:
      context: .
      dockerfile: workers/filter_kgraph_orphans/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env
  finish_query:
    container_name: finish_query
    build:
      context: .
      dockerfile: workers/finish_query/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env


  ######### Example ARA
  example_ara:
    container_name: example_ara
    build:
      context: .
      dockerfile: workers/example_ara/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env
  example_lookup:
    container_name: example_lookup
    build:
      context: .
      dockerfile: workers/example_lookup/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env
  example_score:
    container_name: example_score
    build:
      context: .
      dockerfile: workers/example_score/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env


  ######### ARAGORN
  aragorn:
    container_name: aragorn
    build:
      context: .
      dockerfile: workers/aragorn/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env
  aragorn_lookup:
    container_name: aragorn_lookup
    build:
      context: .
      dockerfile: workers/aragorn_lookup/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env
  aragorn_pathfinder:
    container_name: aragorn_pathfinder
    build:
      context: .
      dockerfile: workers/aragorn_pathfinder/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env
  aragorn_omnicorp:
    container_name: aragorn_omnicorp
    build:
      context: .
      dockerfile: workers/aragorn_omnicorp/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env
  aragorn_score:
    container_name: aragorn_score
    build:
      context: .
      dockerfile: workers/aragorn_score/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env


  ######### ARAX
  arax:
    container_name: arax
    build:
      context: .
      dockerfile: workers/arax/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env

  arax_rank:
    container_name: arax_rank
    build:
      context: .
      dockerfile: workers/arax_rank/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env

######### BTE
  bte:
    container_name: bte
    build:
      context: .
      dockerfile: workers/bte/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env
  
  bte_lookup:
    container_name: bte_lookup
    build:
      context: .
      dockerfile: workers/bte_lookup/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env
  
  ######### SIPR
  sipr:
    container_name: sipr
    build:
      context: .
      dockerfile: workers/sipr/Dockerfile
    restart: unless-stopped
    depends_on:
      shepherd_db:
        condition: service_healthy
      shepherd_broker:
        condition: service_healthy
    volumes:
      - ./logs:/app/logs
      - ./.env:/app/.env