aiohttp
CacheControl==0.14.4
biolink-helper-pkg==1.0.1
bmt==1.4.8
fakeredis
httpx
lmdb
networkx
numpy
pandas
pytest
pytest-asyncio
pytest-cov
pytest-mock
requests
requests-cache==1.2.1
scipy
sympy
tox
tox-venv
biothings_annotator @ git+https://github.com/biothings/biothings_annotator@82d3accf6c219860583d3b9b91029538b6a434a1
