name: 'Release new versions of Shepherd to Github Packages'

on:
  release:
    types: [published]

jobs:
  push_server_to_registry:
    name: Push Docker image to GitHub Packages tagged with "latest" and version number.
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.target_commitish }}
      - name: Get the version
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      - name: downcase REPO
        id: lower_repo
        run: echo "REPO=${GITHUB_REPOSITORY@L}" >> "$GITHUB_OUTPUT"
      
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Shepherd Server to GitHub Packages
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./shepherd_server/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ steps.lower_repo.outputs.REPO }}/shepherd_server:latest
            ghcr.io/${{ steps.lower_repo.outputs.REPO }}/shepherd_server:${{ steps.get_version.outputs.VERSION }}

  push_workers_to_registry:
    name: Push Docker image to GitHub Packages tagged with "latest" and version number.
    runs-on: ubuntu-latest
    strategy:
      matrix:
        worker: 
          - aragorn
          - aragorn_lookup
          - aragorn_omnicorp
          - aragorn_pathfinder
          - aragorn_score
          - arax
          - bte
          - bte_lookup
          - filter_analyses_top_n
          - filter_kgraph_orphans
          - filter_results_top_n
          - finish_query
          - gandalf
          - gandalf_rehydrate
          - merge_message
          - score_paths
          - sipr
          - sort_results_score
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.target_commitish }}
      - name: Get the version
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
      - name: downcase REPO
        id: lower_repo
        run: echo "REPO=${GITHUB_REPOSITORY@L}" >> "$GITHUB_OUTPUT"
      
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Push Workers to GitHub Packages
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./workers/${{ matrix.worker }}/Dockerfile
          push: true
          tags: |
            ghcr.io/${{ steps.lower_repo.outputs.REPO }}/${{ matrix.worker }}:latest
            ghcr.io/${{ steps.lower_repo.outputs.REPO }}/${{ matrix.worker }}:${{ steps.get_version.outputs.VERSION }}
